.desc {
  @include bg;
  background-image: url('/src/img/bgs/desc-bg.jpg');
  padding-bottom: 98px;

  @media (max-width: 991px) {
    padding-bottom: 70px;
  }

  @media (max-width: 575px) {
    min-height: auto;
    padding-bottom: 30px;
  }
}

.desc__title {
  margin-top: 58px;
  margin-bottom: 27px;
  @include title;
  color: white;
  @include max-width(860px);
  font-size: 40px;

  @media (max-width: 1450px) {
    margin-top: 35px;
  }

  @media (max-width: 575px) {
    font-size: 32px;
    margin-top: 40px;
  }

  span {
    color: $green;
  }
}

.desc__text {
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  @include max-width(714px);
  color: $blue;

  @media (max-width: 575px) {
    font-size: 20px;
  }

  span {
    color: $green;
    font-size: 30px;
  }
}

.desc__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 1400px) {
    flex-direction: column;
  }
}

.desc__item {
  padding-left: 68px;
  position: relative;
  margin-bottom: 39px;
  font-weight: 500;
  font-size: 24px;
  color: white;

  &:nth-child(odd) {
    @include max-width(600px);
  }

  @media (max-width: 575px) {
    font-size: 20px;
  }

  &::before {
    content: url('/src/img/icons/desc-ball.png');
    position: absolute;
    top: 97%;
    transform: translateY(-50%);
    left: 0px;

    @media (max-width: 767px) {
      top: 86%;
    }
  }
}
