.digits {
  padding-top: 151px;
  padding-bottom: 70px;

  @media (max-width: 1450px) {
    padding-top: 70px;
  }

  @media (max-width: 575px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.digits__title {
  @include max-width(1350px);
  margin-bottom: 150px;
  @include title;
  color: $blue;

  span {
    color: $green;
  }

  @media (max-width: 1450px) {
    margin-bottom: 70px;
  }

  @media (max-width: 991px) {
    font-size: 47px;
  }

  @media (max-width: 767px) {
    font-size: 43px;
  }

  @media (max-width: 575px) {
    font-size: 29px;
    margin-bottom: 30px;
  }
}

.digits__list-box {
  padding-top: 63px;
  padding-bottom: 10px;
  min-height: 309px;
  position: relative;
  margin-bottom: 70px;

  @media (max-width: 991px) {
    margin-bottom: 45px;
  }
}

.digits__list-bg {
  width: 1920px;
  height: 100%;
  background-color: #06cef0;
  @include central-align;
  position: absolute;
  z-index: -1;
}

.digits__list {
  @include reset-list;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;

  @media (max-width: 1450px) {
    justify-content: center;
  }

  &::after {
    content: url('/src/img/digits-racket-top.png');
    position: absolute;
    right: 0px;
    top: -140px;

    @media (max-width: 1450px) {
      content: none;
    }
  }
}

.digits__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;

  &:first-child {
    width: 100%;
  }

  &:nth-child(2) {
    position: relative;
    left: 30px;
    margin-right: 140px;

    @media (max-width: 1450px) {
      left: 0px;
      margin-right: 0;
    }
  }

  @media (max-width: 1450px) {
    width: 100%;
    justify-content: center;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}

.digits__item-label {
  text-align: right;
  font-size: 22.9px;
  font-weight: 900;
  margin-right: 28px;
  margin-bottom: 0;
  text-transform: uppercase;

  @media (max-width: 767px) {
    text-align: center;
    margin-right: 0;
  }

  @media (max-width: 575px) {
    font-size: 19px;
  }
}

.digits__item-number {
  font-size: 83.3px;
  font-weight: 800;
  color: white;
  margin-bottom: 0;
  line-height: 80px;

  span {
    font-size: 50px;
  }

  @media (max-width: 575px) {
    font-size: 70px;
  }
}

.digits__income-box {
  margin-bottom: 100px;

  @media (max-width: 1450px) {
    margin-bottom: 50px;
  }
}

.digits__income-row {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;


  &:first-child {
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &:last-child {
    position: relative;
    right: 40px;

    @media (max-width: 767px) {
      right: 0px;
    }

    &::before {
      content: url('/src/img/digits-racket-bottom.png');
      position: absolute;
      left: -29px;
      top: -190px;

      @media (max-width: 1450px) {
        content: none;
      }
    }
  }

  @media (max-width: 1450px) {
    justify-content: center;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}

.digits__income-label {
  text-align: right;
  font-size: 22.9px;
  font-weight: 900;
  color: $green;
  margin-right: 30px;
  text-transform: uppercase;

  @media (max-width: 767px) {
    text-align: center;
    margin-right: 0;
  }
}

.digits__income-number {
  font-size: 83.3px;
  font-weight: 800;
  color: $blue;
  margin-bottom: 0;
  line-height: 80px;

  span {
    font-size: 50px;

    @media (max-width: 991px) {
      font-size: 30px;
    }
  }

  @media (max-width: 991px) {
    font-size: 62.3px;
    line-height: 58px;
  }

  @media (max-width: 991px) {
    font-size: 50px;
  }
}
