.feedback {
  min-height: 589px;
  @include bg;
  background-image: url('/src/img/bgs/feedback-bg.jpg');
  padding-top: 150px;
  padding-bottom: 150px;
  position: relative;
  z-index: 1;

  @media (max-width: 991px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (max-width: 575px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}