.header {
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1450px) {
    padding-top: 27px;
  }

  @media (max-width: 575px) {
    padding-top: 10px;
  }
}

.header__logo {
  @media (max-width: 575px) {
    width: 80px;
  }

  @media (max-width: 350px) {
    width: 70px;
  }
}

.header__text {
  color: white;
  margin-bottom: 0;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;

  @media (max-width: 930px) {
    display: none;
  }
}

.header__contact-box {
  display: flex;
  flex-direction: column;
  position: relative;

  &::before {
    position: absolute;
    content: url('/src/img/icons/phone.png');
    top: 57%;
    transform: translateY(-50%);
    left: -50px;

    @media (max-width: 575px) {
      left: -40px;
    }

    @media (max-width: 350px) {
      left: -37px;
    }
  }
}

.header__phone {
  color: white;
  text-decoration: none;
  font-size: 30px;
  margin-bottom: 5px;

  &:focus,
  &:hover,
  &:active {
    text-decoration: underline;
    color: white;
    outline: none;
  }

  @media (max-width: 575px) {
    font-size: 25px;
  }

  @media (max-width: 350px) {
    font-size: 22px;
  }
}

.header__callback {
  @include reset-btn;
  font-size: 18px;
  color: white;
  text-decoration: underline;
  font-style: italic;

  @media (max-width: 575px) {
    font-size: 15px;
  }

  @media (max-width: 350px) {
    font-size: 13px;
  }
}
